@import "tailwindcss";

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes marquee-rtl {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-marquee-en {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee-ar {
  display: flex;
  width: max-content;
  animation: marquee-rtl 25s linear infinite;
}

.animate-marquee-en:hover, .animate-marquee-ar:hover {
  animation-play-state: paused;
}
